.navbar a{
  text-decoration: none;
  margin-right: 15px;
}
.flex{
  display: flex;
justify-content: space-between;
align-items: center;
}
/* .navbar h3{
  margin-top: 1px;
} */
.navbar{
    padding-top: 10px;
}