.main img{
  height: 400px;
width: auto;
}
.text{
  width: 450px;
}
.job-catagory{
 
  margin: 100px;
}
.text-center{
  text-align: center;
}
.job-list{
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}
.purple{
  color: #9873FF;
}
.grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}
.btn-all-job{
  background: linear-gradient(90deg, #7E90FE 0%, #9873FF 100%);
border-radius: 8px;
border: none;
padding: 8px;
color:white;
margin-top: 8px;
display: flex;
justify-content: center;
align-items: center;


}